@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Rubik";
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-size: 32px;
  scroll-behavior: smooth;
}

:root {
  --links-color: #4f5665;
  --title-color: #0b132a;
  --links-size: 0.5rem;
  --title-size: 1.1rem;
 
}

.container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}
